/Tree/AVLTree/build/
/Tree/AVLTree/dist/
/Tree/AVLTree/nbproject/private/
/Tree/BBTree/build/
/Tree/BBTree/dist/
/Tree/BBTree/nbproject/private/
/Tree/BSTree/build/
/Tree/BSTree/dist/
/Tree/BSTree/nbproject/private/
/Tree/BSTreeSolution/build/
/Tree/BSTreeSolution/dist/
/Tree/BSTreeSolution/nbproject/private/
/Tree/BinaryHeaps/build/
/Tree/BinaryHeaps/dist/
/Tree/BinaryHeaps/nbproject/private/
/Tree/BinaryTree/build/
/Tree/BinaryTree/dist/
/Tree/BinaryTree/nbproject/private/
